.scrollBar {

    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.scrollBar::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

.scrollBar::-webkit-scrollbar-thumb {
    background: transparent;
}

.scrollBar:hover::-webkit-scrollbar-thumb {
    background: #888;
}

.scrollBar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.scrollBar::-webkit-scrollbar-track {
    background: transparent;
}